# Virtual environment
venv/
.env/

# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all .txt files
*.txt

logs/

*.xlsx

